<section class="flex flexcenter">

    <mat-card class="matcard">

        <!-- <div class="main-nav">
            <table width="100%">
                <tr>
                    <td align="left">
                        <mat-card-header class="mainheader">
                            <mat-card-title>BILLING PAGE</mat-card-title>
                        </mat-card-header>
                    </td>
                    <td align="right">
                        <img class="logo-img" src="/assets/images/logo.png" alt="image">
                    </td>
                </tr>
            </table>
        </div> -->

        <mat-card-content class="mainpage">
            <form [formGroup]="billingForm" (ngSubmit)="onSubmit()">
                <div class="flex search-container">
                    <mat-form-field class="item item-s1" style="margin-right:1%;" appearance="outline">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="inputDate"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;" appearance="outline">
                        <mat-label>Select Customer Mob No.</mat-label>

                        <!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="customer"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            @for (option of filteredOptions | async; track option) {
                            
                            <mat-option [value]="option.user_id">{{option.phone_number}}</mat-option>
                            }
                        </mat-autocomplete> -->
                        <mat-select formControlName="customer" 
                        (selectionChange)='onCustomerOnchange($event.value)' required>
                            <mat-option *ngFor="let customer of Customer"
                                [value]="customer.user_id">{{customer.phone_number}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;">
                        <mat-label>Customer Name</mat-label>
                        <input matInput formControlName="customerName" readonly>
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="customerAddress" readonly>
                    </mat-form-field>
                    <mat-form-field class="item item-s1">
                        <mat-label>Route</mat-label>
                        <textarea matInput formControlName="route" rows="1" style="resize: none; overflow-y: sroll;"
                            readonly class="addressText"></textarea>
                    </mat-form-field>



                </div>
                <div class="flex search-container">
                    <mat-form-field class="item item-s1" style="margin-right:1%;">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" readonly>
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;">
                        <mat-label>Pin Code</mat-label>
                        <input matInput formControlName="pincode" readonly>
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;" appearance="outline">
                        <mat-label>Out-standing Crates</mat-label>
                        <input matInput formControlName="outStdCrates" (keypress)="onlyNumberKey($event)">
                    </mat-form-field>
                    <mat-form-field class="item item-s1" style="margin-right:1%;" appearance="outline">
                        <mat-label>Received Crates</mat-label>
                        <input matInput formControlName="receivedCrates" (keypress)="onlyNumberKey($event)">
                    </mat-form-field>
                    <button mat-raised-button matTooltip="Add Item" class="mdc-fab mdc-fab--mini" aria-label="add"
                        (click)="addRow($event)" class="mat-elevation-z1 item-s5" style="left: 463px;
                    color: #fff;
                    background: linear-gradient(to bottom, #00bdf2 0%, #00b3f0 20%, #2f9aeb 75%, #1a7bd1 100%);
                    flex-basis: 4%;">
                        <div class="mdc-fab__ripple"></div>
                        <span class="mdc-fab__icon material-icons">add</span>
                    </button>
                </div>
                <div>
                    <table mat-table [dataSource]="myformArray.controls" class="mat-elevation-z8">
                        <ng-container matColumnDef="product_name">
                            <th mat-header-cell class="table-header-cell" *matHeaderCellDef> Product </th>
                            <td mat-cell *matCellDef="let element;let i=index;">
                                <mat-form-field style="margin-top:20px;" appearance="outline">
                                    <mat-label>Select Product</mat-label>
                                    <mat-select [formControl]="element.get('product_name')" required
                                        (selectionChange)='onProductSelected($event.value, i)'>
                                        <mat-option *ngFor="let product of products" [value]="product.product_id">
                                            {{product.product_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                        </ng-container>
                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Crates </th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field style="margin-top:20px;" appearance="outline">
                                    <input matInput [formControl]="element.get('quantity')" required
                                        (keypress)="onlyNumberKey($event)">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="extras">
                            <th mat-header-cell *matHeaderCellDef> Litres </th>

                            <td mat-cell *matCellDef="let element;let i=index;">
                                <mat-form-field style="margin-top:20px;" appearance="outline">
                                    <input matInput [formControl]="element.get('extras')"
                                        (focusout)="focusOutFunction($event, i, 'litre')"
                                        (keypress)="onlyDecimalNumberKey($event)" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef> Rate/Unit</th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field style="margin-top:20px;">
                                    <input matInput [formControl]="element.get('rate')" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cgst_percentage">
                            <th mat-header-cell *matHeaderCellDef> CGST (%)</th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field style="margin-top:20px;">
                                    <input matInput [formControl]="element.get('cgst_percentage')" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="sgst_percentage">
                            <th mat-header-cell *matHeaderCellDef> SGST (%)</th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field style="margin-top:20px;">
                                    <input matInput [formControl]="element.get('sgst_percentage')" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Amount </th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field style="margin-top:20px;">
                                    <input matInput [formControl]="element.get('amount')" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>

                            <td mat-cell *matCellDef="let element;let i=index;">
                                <button mat-button class="mdc-fab mdc-fab--mini" class="mat-elevation-z1"
                                    [disabled]="isLastRow" (click)="removeRow(i)">
                                    <div class="mdc-fab__ripple"></div>
                                    <span class="mdc-fab__icon material-icons">close</span>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div style="float:right; margin-top:12px;" class="flex flexend">
                    <div>
                        <mat-form-field class="mat-sized-input" style="margin-right:1%; height:75px!important">
                            <mat-label>Total Amount</mat-label>
                            <input matInput formControlName="totalAmount" readonly style="padding-top: 3px;"
                                placeholder="0.00">
                        </mat-form-field>
                        <mat-form-field class="mat-sized-input" style="margin-right:1%; height:75px!important;">
                            <mat-label>Discount</mat-label>
                            <input matInput formControlName="discount" style="padding-top: 3px;"
                                (focusout)="focusOutFunction($event, 0, 'disc')"
                                (keypress)="onlyDecimalNumberKey($event)" placeholder="0.00">
                        </mat-form-field>
                        <mat-form-field class="mat-sized-input" style="margin-right:1%; height:75px!important">
                            <mat-label>Tax Amount</mat-label>
                            <input matInput formControlName="taxAmount" readonly style="padding-top: 3px;"
                                placeholder="0.00">
                        </mat-form-field>
                        <mat-form-field class="mat-sized-input" style="margin-right:1%; height:75px!important">
                            <mat-label>Net Amount</mat-label>
                            <input matInput formControlName="netAmount" readonly style="padding-top: 3px;"
                                placeholder="0.00">
                        </mat-form-field>
                    </div>
                    <div class="rpadding">
                        <button mat-raised-button class="sbmt-btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>