/* .matcard .mat-card-header-text{
margin: 0 5px;
} */
 
/* @media (min-width :768px) {
  .flexcenter{
    width:750px;
  }
}
@media (min-width :992px) {
  .flexcenter{
    width:970px;
  }
}
@media (min-width :1200px) {
  .flexcenter{
    width:1170px;
  }
} */
/* mat-table {
  margin-top: 20px;
} */
 /* .matcard{
  display: inline-flex;
  
 } */
.mat-mdc-card-content {
  display: block;
  padding: 20px 50px;
}
.flexcenter{
  justify-content: flex-end;
  align-items: flex-end;
  padding-left:8px;
  padding-right:8px;
}
.flex{
  display:inline-flex;
  flex-flow: row wrap;
}
.main-nav{
  height: 10%!important;
  background: linear-gradient(to bottom, #00bdf2 0%, #00b3f0 20%, #2f9aeb 75%, #1a7bd1 100%);
}
.sbmt-btn{
  background: linear-gradient(to bottom, #00bdf2 0%, #00b3f0 20%, #2f9aeb 75%, #1a7bd1 100%);
  color: #fff !important;
  margin-bottom: 26%;
  font-size: 14px !important;
  width: 100% !important;
  height: 52px !important;
}

.logo-img{
  width: 100px;
  height: auto;
  margin-right: 8%;
}
.mainheader{
  display: flex;
    padding: 16px 49px 0;
    margin-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  color:#fff;  
}

.mainpage .mat-form-field{
  font-size: 12px!important;
  width: 100%!important;
  line-height: 15px!important;
  
}

.mainpage .search-container{
  flex-flow: row nowrap!important;
  justify-content: flex-start!important;
  align-items: stretch!important;
  align-content: stretch!important;
  width:100%!important;
}
.mainpage .item{
  padding: 0px 5px!important;
  width: 40%!important;
}

.mainpage .item-s1{
  padding: 0px 5px!important;
  flex-basis: 16%;
}

.mainpage .table{
   padding-left:5px
}
.mainpage .flexend{
  justify-content: flex-end;
  align-items: flex-end;
}
.mdc-data-table__header-cell {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  text-align: center!important;
}
.mat-mdc-table{
height:500px!important; overflow-y: auto!important;display: block;
}
.mainpage .item-s5{
flex-basis: 4%;
height:55px;
/* margin-left: 3%;
margin-top:0%; */
}
.table-header-cell{
  padding: 0px 18px 0 16px!important;
}
/* .sbmt-btn{
  margin-bottom:1%;
  font-size: 17px!important;
  width: 7%!important;
  height: 40px!important;
 
} */
.mainpage .mat-sized-button{
  line-height: 24px!important;
  margin:10px 7px 0px!important;
  width:100%!important;
  padding-top:2px!important;  
}
.mainpage .mat-sized-input{
  margin: 9px 7px 0px 4px !important;
  /* width: 86% !important; */
  padding-top: 2px !important;
  padding-left: 8px;
  height: 30px!important;
}
.mainpage .mat-sized-input1{
  margin: 5px 7px 0px 4px !important;
  /* width: 86% !important; */
  padding-top: 2px !important;
  padding-left: 8px;
  height: 30px!important;
}
.mainpage .rpadding{
padding-left: 23px!important;
}
.disc-inp{
  margin-bottom:2px;
}