<section class="flexcenter">

    <mat-card class="matcard">
    <div id="access" class="main-nav">
        <table width="100%">
            <tr>
                <td align="left"><nav>
                    <ul style="list-style-type: none;" class="navbar-links mainheader">
                        <li style="list-style-type: none;" class="active nav-items"><a href="user">Customer</a></li>
                        <li style="list-style-type: none;" class="nav-items"><a href="billing">Billing</a></li>
                    </ul>
                </nav>
                </td>
                <td align="right">
                    <img class="logo-img" src="/assets/images/logo.png" alt="image">
                </td>
            </tr>
        </table>
    </div>
    </mat-card>
    </section>